# python
__pycache__/
*.py[cod]
*$py.class

# rust
target/
*.rs.bk
Cargo.lock

# output binaries
*.out
out-*
out_*

# C/C++/Rust dynamic libraries
*.so
*.pdb
*.dll
*.dylib

# various test/temporary files
test.*
test-*
test_*
dtest.rs

# inputs
input.txt

# system files
.Trashes
Thumbs.db
.DS_Store
.DS_Store?
